@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";
}

<nav class="flex-row navbar navbar-dark bg-primary navbar-expand-lg">
    @Html.ActionLink("BIKEVISION", "Index", "Home", new { area = "" }, new { @class = "px-0 navbar-brand nav-link" })
    <button class="navbar-toggler" title="menu" type="button" data-toggle="collapse" data-target="#navbarMainNavigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMainNavigation">
        <ul class="navbar-nav nav-pils text-left mr-auto">
            <li class="nav-item active mr-lg-1">
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <li class="nav-item mr-lg-1">
                @Html.ActionLink("Serwis", "Service", "Home", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <li class="nav-item mr-lg-1">
                @Html.ActionLink("Sklep", "Index", "Shop", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <li class="nav-item mr-lg-1">
                @Html.ActionLink("O nas", "About", "Home", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <li class="nav-item mr-lg-1">
                @Html.ActionLink("Pomoc", "Help", "Home", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <li class="nav-item mr-lg-1">
                @Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, new { @class = "nav-link hover-bg" })
            </li>
            <!-- For smaller devices - visible list items -->
            @Html.Partial("_LoginPartialSmallerDevices")
        </ul>

        <!-- For big devices - visible dropdown -->
        @Html.Partial("_LoginPartial")
    </div>
</nav>

@RenderBody()

<footer class="flex-row bg-dark text-light text-center">
    <p> Footer </p>
</footer>

@section scripts
{
    @RenderSection("scripts", required: false)
}
