@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";
}

<nav class="flex-row navbar navbar-expand-md navbar-dark bg-dark">
    @Html.ActionLink("Bikevision", "Index", "Home", new { area = "" }, new { @class = "px-0 navbar-brand nav-link" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-left mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Serwis", "Service", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sklep", "Shop", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("O nas", "About", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Pomoc", "Help", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item d-md-none">
                @Html.ActionLink("Zaloguj", "Login", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item d-md-none">
                @Html.ActionLink("Zarejestruj się", "SignUp", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
        </ul>

        <ul class="d-none d-md-block nav navbar-nav ml-auto">
            <li class="dropdown order-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-info dropdown-toggle"><i class="material-icons align-bottom">person</i> Twoje konto <span class="caret"></span></button>
                <ul class="dropdown-menu mt-2">
                    <li class="nav-item">
                        @Html.Raw(Html.ActionLink("ToReplace", "SignUp", "Home", new { area = "" }, new { @class = "nav-link" }).ToHtmlString().Replace("ToReplace", "<span><i class=\"material-icons align-bottom\">account_circle</i> Zarejestruj się </span>"))
                    </li>
                    <li class="nav-item">
                        @Html.Raw(Html.ActionLink("ToReplace", "Login", "Home", new { area = "" }, new { @class = "nav-link" }).ToHtmlString().Replace("ToReplace", "<span><i class=\"material-icons align-bottom\">exit_to_app</i> Zaloguj </span>"))
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

@RenderBody()

<footer class="flex-row bg-dark text-light text-center">
    <p> Footer </p>
</footer>

@section scripts
{
    @RenderSection("scripts", required: false)
}
