@model bikevision.Models.ComparationViewModel
@{ 
    string classes = "btn btn-info";

    if (Model.ComparationItem.availability <= 0)
    {
        classes += " disabled";
    }
    
    string options = "";

    foreach(var feat in Model.ComparationItem.FeatureValueOfItems)
    {
        if(feat.Feature.selectable != null && (bool)feat.Feature.selectable)
        {
            if(!options.Contains(feat.Feature.feature1))
            {
                options += feat.Feature.feature1 + ":" + feat.FeatureValue.FeatureValueOfItems.Where(f => f.Feature.feature1 == feat.Feature.feature1).Select(s => s.FeatureValue.featureValue1).First() + ";";
            }
        }
    }

    string color = (Model.FeaturesList.Where(s => s.Item1 == "Kolor").Count() > 0 ) ? Model.FeaturesList.Where(s => s.Item1 == "Kolor").First().Item2.First():"main";

}
    <article class="p-0 mx-1 m-0 text-center text-wrap" style="min-width: 300px; float: left;">
        <a href="@Url.Action("Product", "Shop", new { id = Model.ComparationItem.idItem, model= color.ToLower() })">
            <img src="@String.Format(("../Content/Images/Products/{0}/{1}_{2}/1.jpg"), Model.ComparationItem.idItem, Model.ComparationItem.idItem, color.Replace(" ", "_").ToLower())" class="text-center" style="max-height: 100px; height: auto;"/>
        </a>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2" class="text-center text-wrap" scope="col">
                            @Model.ComparationItem.name
                        </th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    @foreach (var feature in Model.FeaturesList)
                    {
                        <tr>
                            <td scope="row" class="text-left">
                                @feature.Item1
                            </td>
                            <td name="comparation_@feature.Item1.ToString().Replace(" ","")" class="text-left">
                                @if (feature.Item2 == null)
                                {
                                    @String.Format("-");
                                }
                                else
                                {
                                    foreach (var val in feature.Item2)
                                    {
                                        if (feature.Item2.Last() == val)
                                        {
                                            <span>@val</span>
                                        }
                                        else
                                        {
                                            <span>@val, </span>
                                        }
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Raw(Html.ActionLink("ToReplace", "OrderNow", "ShoppingCart", new { id = Model.ComparationItem.idItem, option=options, quantity = 1, area = "" }, new { @class = classes }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-shopping-cart text-size-very-small\"></span><span class=\"text-size-very-small\"> Do koszyka </span>"))

            @Html.Raw(Html.ActionLink("ToReplace", "RemoveFromComparation", "Shop", new { itemId = Model.ComparationItem.idItem, returnUrl = Request.Url }, new { @class = "btn btn-primary" }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-retweet text-size-very-small\"></span><span class=\"text-size-very-small\"> Usuń</span>"))
</article>
