@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";
}

<nav class="flex-row navbar navbar-expand-md navbar-dark bg-dark">
    @Html.ActionLink("Bikevision", "Index", "Home", new { area = "" }, new { @class = "px-0 navbar-brand nav-link" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-left mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Serwis", "Service", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sklep", "Shop", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("O nas", "About", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Pomoc", "Help", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>

@RenderBody()

<footer class="flex-row bg-dark text-light">
    <p> Footer </p>
</footer>
