
@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";
}

<nav class="bg-primary navbar navbar-dark px-0 pb-0">
    <div class="text-center col-12">
        @Html.ActionLink("BIKEVISION", "Index", "Home", new { area = "" }, new { @class = "p-2 navbar-brand nav-link border text-light border-light mx-0" })
    </div>

    <ul class="nav nav-pills nav-fill col-12 p-0 m-0 mt-2">
        <li class="nav-item m-0">
            @Html.ActionLink("Umów wizytę", "NewServiceOrder", "Service", new { area = "" }, new { @class = "nav-link hover-bg text-white py-3" })
        </li>
        <li class="nav-item m-0">
            @Html.ActionLink("Sprawdź status", "CheckStatus", "Service", new { area = "" }, new { @class = "nav-link hover-bg text-white py-3" })
        </li>
        <li class="nav-item m-0">
            @Html.ActionLink("Cennik usług", "Prices", "Service", new { area = "" }, new { @class = "nav-link hover-bg text-white py-3" })
        </li>
        <li class="nav-item m-0">
            @Html.ActionLink("Panel użytkownika", "UserPanel", "Service", new { area = "" }, new { @class = "nav-link hover-bg text-white py-3" })
        </li>
    </ul>
</nav>
@if (ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString() == "Index")
{
<section>
    <div id="serviceCarousel" class="carousel slide carousel-fade w-100" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselShop" data-slide-to="0" class="active"></li>
            <li data-target="#carouselShop" data-slide-to="1"></li>
            <li data-target="#carouselShop" data-slide-to="2"></li>
            <li data-target="#carouselShop" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner bg-dark">
            <div class="carousel-item active">
                <img src="~/Content/Images/Service/service_01.jpg" class="d-block image-carousel-responsivity m-auto" />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-white text-shadow"> Po każdym zleceniu serwisowym </h2>
                    <p class="text-white text-shadow h4"> Otrzymasz voucher do naszego sklepu </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/Content/Images/Service/service_05.jpg" class="d-block image-carousel-responsivity m-auto" />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-white text-shadow"> Doświadczeni serwisanci </h2>
                    <p> Naprawią każdą usterkę w twoim rowerze i doradzą w każdej sytuacji </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/Content/Images/Service/service_06.jpg" class="d-block image-carousel-responsivity m-auto" />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-shadow text-white"> Tydzień darmowego przeglądu </h2>
                    <p> Przyjdź do nas między 10 a 16 dniem miesiąca, a bezpłatnie dokonamy przeglądu twojego roweru </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/Content/Images/Service/service_08.jpg" class="d-block image-carousel-responsivity m-auto" />
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-white text-shadow"> Profesjonalny sprzęt oraz precyzyjne narzędzia </h2>
                    <p> Są wyznacznikiem jakości naszych usług </p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#serviceCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#serviceCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
}

<section class="container py-2 my-2 flex-fill">
    @RenderBody()
</section>

<footer class="py-2 bg-dark text-white text-center text-size-very-small">
    &copy;Copyright 2019 - BIKEVISION
</footer>

@section scripts
{
    @RenderSection("scripts", required: false)
}
