@model List<bikevision.Models.SaleDetail>
@{
    ViewBag.Title = "Szczegóły zamówienia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@(ViewBag.Title + " nr " + Model.First().Sale_idSale)</h2>
<hr />

<table class="table table-striped text-primary">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Produkt</th>
            <th scope="col">Cena</th>
            <th scope="col">Ilość</th>
            <th scope="col">Razem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td scope="row">@sale.Item.name</td>
                <td>@String.Format("{0:F2} zł", sale.Item.price)</td>
                <td>@(sale.value / sale.Item.price)</td>
                <td>@String.Format("{0:F2} zł", sale.value)</td>
            </tr>
        }
    </tbody>
</table>  