@model List<bikevision.Models.Sale>
@{
    ViewBag.Title = "Twoje zamówienia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int index = 0;
    decimal sumOfOrders = 0;
}

<h2> Twoje zamówienia </h2>
<hr />

@if (Model != null)
{
    <table class="table table-striped text-primary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Data</th>
                <th scope="col">Wartość</th>
                <th scope="col">Status</th>
                <th class="text-center" scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                sumOfOrders += ViewBag.OrdersSum[index];
                <tr>
                    <th scope="row" class="align-middle">@order.idSale</th>
                    <td class="align-middle">@order.date</td>
                    <td class="align-middle">@String.Format("{0:F2} zł", ViewBag.OrdersSum[index++])</td>
                    <td class="align-middle">(Status)</td>
                    <td class="text-center align-middle">
                        @Html.ActionLink("Szczegóły", "OrderDetails", "Account", new { id = order.idSale }, new { @class = "btn btn-primary" })
                                    </td>
                </tr>
            }
            <tr>
                <th class="text-right" colspan="2">
                    Suma zamówień:
                </th>
                <td class="text-left" cospan="2">
                    @String.Format("{0:F2} zł", sumOfOrders)
                </td>
                <td>

                </td>
            </tr>
        </tbody>
</table>
}
else
{
    <p> Nie zamówiłeś jeszcze nic w naszym sklepie. </p>
}