@model List<bikevision.Models.SaleDetail>
@{
    ViewBag.Title = "Szczegóły zamówienia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <div class="col text-primary">
        <div class="row p-0 m-0">
            <h2>@(ViewBag.Title + " nr " + Model.First().Sale_idSale)</h2>
        </div>
        <hr />

        <header class="border-bottom--black row p-0 m-0 font-weight-bold">
            <div class="col-6">Produkt</div>
            <div class="col-2">Cena</div>
            <div class="col-2">Ilość</div>
            <div class="col-2">Razem</div>
        </header>

        @foreach (var sale in Model)
        {
            <div class="row p-0 m-0">
                <p class="col-6">@sale.Item.name</p>
                <p class="col-2">@String.Format("{0:F2} zł", sale.Item.price)</p>
                <p class="col-2">@(sale.value / sale.Item.price)</p>
                <p class="col-2">@String.Format("{0:F2} zł", sale.value)</p>
            </div>
        }
    </div>

