@model List<bikevision.Models.Service>
@{
    ViewBag.Title = "Twoje zlecenia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2> Twoje zlecenia serwisowe </h2>
<hr />

@if (Model != null)
{
    <table class="table table-striped text-primary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Data</th>
                <th scope="col">Tytył</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-center" >Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serivceOrder in Model)
            {
                <tr>
                    <th scope="row" class="align-middle text-center">@serivceOrder.idService</th>
                    <td class="align-middle">@serivceOrder.dateOfEmployment</td>
                    <td class="align-middle">@serivceOrder.title</td>
                    <td class="align-middle">@serivceOrder.ServiceState.state</td>
                    <td class="text-center align-middle">
                        @Html.ActionLink("Szczegóły", "OrderDetails", "Service", new { id = serivceOrder.idService }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p> Nie masz jeszcze żadnych zleceń serwisowych. </p>
}

