@model bikevision.Models.EmployeeInThePosition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeInThePosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
