@model IEnumerable<bikevision.Models.Feature>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.feature1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.feature1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idFeature }) |
            @Html.ActionLink("Details", "Details", new { id=item.idFeature }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idFeature })
        </td>
    </tr>
}

</table>
