@model bikevision.Models.ServiceWithNotesViewModel
@{
    ViewBag.Title = "Szczegóły zlecenia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@(ViewBag.Title + " nr " + Model.serviceOrder.idService)</h2>
<hr />

<table class="table table-striped text-primary">
    <tbody>
        <tr>
            <th scope="col">
                Przedmiot zlecenia:
            </th>
            <td scope="col">
                @Model.serviceOrder.title
            </td>
        </tr>
        <tr>
            <th scope="row">
                Typ zlecenia:
            </th>
            <td>
                @Model.serviceOrder.ServiceType.type
            </td>
        </tr>
        <tr>
            <th>
                Data przyjęcia zalecenia:
            </th>
            <td>
                @Model.serviceOrder.dateOfEmployment
            </td>
        </tr>
        <tr>
            <th>
                Opis:
            </th>
            <td>
                @Model.serviceOrder.description
            </td>
        </tr>
        <tr>
            <th>
                Cena:
            </th>
            <td>
                @if (Model.serviceOrder.price == 0)
                {
                    <span>Oczekuje na wycenę</span>
                }
                else
                {
                    @String.Format("{0:F2} zł", Model.serviceOrder.price);
                }
            </td>
        </tr>
    </tbody>
</table>

<h3> Notatki do zamówienia: </h3>
<hr />
@if (Model.notesToOrder.Count() > 0)
{
<table class="table">
    <tbody>
    @foreach (var models in Model.notesToOrder)
    {
        <tr>
            <th scope="col">Autor: @models.AspNetUser.UserName</th>
            <th scope="col">Data: @models.date</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td scope="row" colspan="4">@models.Note.note1</td>
        </tr>
    }
    </tbody>
</table>
}
else
{
    <p class="h3"> Nie ma jeszcze żadnych notatek do teog zlecenia. </p>
}
