@model bikevision.Models.Service
@{
    ViewBag.Title = "Szczegóły zlecenia";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>@(ViewBag.Title + " nr " + Model.idService)</h2>
<hr />

<table class="table table-striped text-primary">
    <tbody>
        <tr>
            <th scope="col">
                Przedmiot zlecenia:
            </th>
            <td scope="col">
                @Model.title
            </td>
        </tr>
        <tr>
            <th scope="row">
                Typ zlecenia:
            </th>
            <td>
                @Model.ServiceType.type
            </td>
        </tr>
        <tr>
            <th>
                Data przyjęcia zalecenia:
            </th>
            <td>
                @Model.dateOfEmployment
            </td>
        </tr>
        <tr>
            <th>
                Opis:
            </th>
            <td>
                @Model.description
            </td>
        </tr>
        <tr>
            <th>
                Cena:
            </th>
            <td>
                @if (Model.price == 0)
                {
                    <span>Oczekuje na wycenę</span> 
                }
                else
                { 
                    @String.Format("{0:F2} zł", Model.price);
                }
            </td>
        </tr>
    </tbody>
</table>
