@model List<bikevision.Models.SaleDetail>
@{
    ViewBag.Title = "Zamówienie";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    int index = 0;
}

<section class="container py-5 text-primary">
    <h2> Szczegóły twojego zamówienia </h2>

    <div class="row m-0 p-0 pt-3">
        <table class="table table-sm table-striped text-primary">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2" scope="col">
                        <h4 class="text-white align-middle">Dane do wysyłki</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.name)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.name)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.surname)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.surname)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.emailAddress)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.emailAddress)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.telephoneNumber)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.telephoneNumber)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.Locality.locality1)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.Locality.locality1)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.addressOfResidence)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.addressOfResidence)
                    </td>
                </tr>
                <tr>
                    <td scope="row" class="font-weight-bold">
                        @Html.LabelFor(model => model.First().Sale.Customer.zipCode)
                    </td>
                    <td>
                        @Html.DisplayTextFor(model => model.First().Sale.Customer.zipCode)
                    </td>
                </tr>
            </tbody>
        </table>

        <h5>Zamówione przedmioty</h5>

        <table class="table table-striped text-primary">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Przedmiot
                    </th>
                    <th scope="col">
                        Cena
                    </th>
                    <th scope="col">
                        Szt.
                    </th>
                    <th scope="col">
                        Suma
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @item.Item.name
                        </td>
                        <td>
                            @String.Format("{0:F2} zł", ViewBag.prices[index])
                        </td>
                        <td>
                            @ViewBag.values[index]
                        </td>
                        <td>
                            @String.Format("{0:F2} zł", (ViewBag.prices[index] * ViewBag.values[index++]))
                        </td>
                    </tr>
                }
                <tr>
                    <td scope="row">
                        Koszt dostawy:
                    </td>
                    <td colspan="2" scope="row">
                        @Model.First().Sale.Shipping.name
                    </td>
                    <td scope="row">
                        @String.Format("{0:F2} zł", Model.First().Sale.Shipping.cost)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        Suma zamówienia:
                    </td>
                    <td>
                        @String.Format("{0:F2} zł", (ViewBag.sumOfOrder + Model.First().Sale.Shipping.cost))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @using(Html.BeginForm())
    {
        <input type="submit" value="Wróć do sklepu" class="btn btn-primary mt-3"/>
    }
</section>