@model List<bikevision.Models.SaleDetail>
@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    int index = 0;
}

<section class="container py-5 text-primary">
    <h2> Szczegóły twojego zamówienia </h2>

    <div class="row m-0 p-0 pt-3">
        <article class="col-12 col-lg-6 p-0 border-right-lg--black">
            <header class="col-12 border-bottom--black">
                <h5>Dane do wysyłki</h5>
            </header>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.name)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.name)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.surname)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.surname)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.emailAddress)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.emailAddress)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.telephoneNumber)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.telephoneNumber)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.Locality.locality1)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.Locality.locality1)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.addressOfResidence)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.addressOfResidence)
                </div>
            </div>
            <div class="col-12 row m-0">
                <div class="col-6 font-weight-bold">
                    @Html.LabelFor(model => model.First().Sale.Customer.zipCode)
                </div>
                <div class="col-6">
                    @Html.DisplayTextFor(model => model.First().Sale.Customer.zipCode)
                </div>
            </div>
        </article>

        <article class="col-12 col-lg-6 p-0">
            <header class="col-12 border-bottom--black">
                <h5>Zamówione przedmioty</h5>
            </header>
            <div class="row m-0 p-0 font-weight-bold">
                <p class="col-8">Przedmiot</p>
                <p class="col-2">Cena</p>
                <p class="col-2">Ilość</p>
            </div>

            <div class="row m-0 p-0">
                @foreach (var item in Model)
                {
                    <div class="col-8">
                        @item.Item.name
                    </div>
                    <div class="col-2">
                        @item.Item.price
                    </div>
                    <div class="col-2">
                        @ViewBag.values[index++]
                    </div>
                }
            </div>
        </article>
    </div>

    @using(Html.BeginForm())
    {
        <input type="submit" value="Wróć do sklepu" class="btn btn-primary mt-3"/>
    }
</section>