@using bikevision.Models;
@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="container py-5 text-primary">
    <nav class="px-0" aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
        </ol>
    </nav>

    @if (Session["Cart"] != null)
    {
        List<Cart> temp = (List<Cart>)Session["Cart"];
        var total = temp.Sum(x => x.Quantity * ((x.Item.price) - ((x.Item.price * x.Item.discount) / 100)));
        var deliveryCost = 0;
        var promotionCode = 0;

        <h2 class="px-0"> Twój koszyk </h2>

        <p class="text-danger">@ViewBag.QuantityError</p>

        <table class="table table-striped text-primary vertical-align">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Produkt
                    </th>
                    <th scope="col">
                        Nazwa
                    </th>
                    <th scope="col">
                        Cena
                    </th>
                    <th class="text-center" scope="col">
                        Ilość
                    </th>
                    <th scope="col">
                        Razem
                    </th>
                    <th class="text-center" scope="col">
                        Usuń
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var productInCart in (List<Cart>)Session["Cart"])
                {
                    <tr>
                        <td scope="row">
                            <img src="~/Content/Images/Shop/siodelko_1.jpg" class="shopping-cart__product-image" alt="obrazek" />
                        </td>
                        <td>
                            <p class=""> @productInCart.Item.name </p>
                        </td>
                        <td>
                            <p class=""> @String.Format("{0:F2} zł", ((productInCart.Item.price) - ((productInCart.Item.price * productInCart.Item.discount) / 100))) </p>
                        </td>
                        <td class="text-center">
                            @Html.Raw(Html.ActionLink("ToReplace", "AddQuantity", "ShoppingCart", new { id = productInCart.Item.idItem, area = "" }, new { @class = "order-3 order-md-1 m-auto shopping-cart__quantity-button shopping-cart__quantity-button--green" }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-plus\"></span>"))
                            <p class="order-2 m-0 font-weight-bold">@productInCart.Quantity</p>
                            @Html.Raw(Html.ActionLink("ToReplace", "DecrementQuantity", "ShoppingCart", new { id = productInCart.Item.idItem, area = "" }, new { @class = "order-1 order-md-3 m-auto shopping-cart__quantity-button shopping-cart__quantity-button--red" }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-minus\"></span>"))
                        </td>
                        <td>
                            @String.Format("{0:F2} zł", (productInCart.Quantity * productInCart.Item.price))
                        </td>
                        <td class="text-center">
                            @Html.Raw(Html.ActionLink("ToReplace", "Delete", "ShoppingCart", new { id = productInCart.Item.idItem, area = "" }, new { @class = "shopping-cart__trash-button m-auto", @onclick = "return confirm('Na pewno chcesz usunąć ten przedmiot z koszyka?');" }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-trash\"></span>"))
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3" scope="row" class="font-weight-bold text-size-small">
                        <span>Kod rabatowy</span>
                        @Html.TextBox("discountCode", null, new { @class="form-control" })
                        <input type="submit" value="Skorzystaj" class="btn btn-primary"/>
                    </td>
                    <td colspan="3" >
                        <div class="row">
                            <p class="col-12 col-md-6 font-weight-bold"> Razem (brutto): </p>
                            <p class="col-12 col-md-6 ">
                                @String.Format("{0:F2} zł", total)
                            </p>
                        </div>
                        <div class="row">
                            <p class="col-12 col-md-6 text-size-small font-weight-bold"> Rabat:  </p>
                            <p class="col-12 col-md-6 text-size-small">
                                @String.Format("{0:F2} zł", promotionCode)
                            </p>
                        </div>

                        <div class="row">
                            <p class="col-12 col-md-6 text-size-small font-weight-bold"> Razem:  </p>
                            <p class="col-12 col-md-6 text-size-small"> @String.Format("{0:F2} zł", total - promotionCode)  </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"  scope="row">
                        <p class="font-weight-bold text-size-small">Wybierz sposób dostawy:</p>
                        <p>Poczta Polska</p>
                        <p>Kurier DPD</p>
                    </td>
                    <td colspan="3" >
                        <div class="row">
                            <p class="col-6">Produkty: </p>
                            <p class="col-6">@String.Format("{0:F2} zł", total - promotionCode)</p>
                        </div>
                        <div class="row">
                            <p class="col-6">Koszt dostawy: </p>
                            <p class="col-6">@String.Format("{0:F2} zł", deliveryCost)</p>
                        </div>
                        <div class="row">
                            <p class="col-6 font-weight-bold text-size-small">Razem do zapłaty:</p>
                            <p class="col-6 font-weight-bold text-size-small">@String.Format("{0:F2}", total - promotionCode + deliveryCost)</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @using (Html.BeginForm("Index", "ShoppingCart", null, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
                        {
                            <div class="input-group pt-1 justify-content-end">
                                <button type="submit" id="submit" class="btn btn-primary"> Przejdz dalej</button>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <h4> Twój koszyk jest pusty! </h4>
    }
</section>