@model bikevision.Models.Customer

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}
<section class="container py-5 text-primary">
    <nav class="px-0" aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
        </ol>
    </nav>

    <article class="d-flex flex-row">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Order", "ShoppingCart", null, FormMethod.Post, new { @class = "d-flex flex-column flex-fill", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.Partial("_CheckData", Model)
            }
        }
        else
        {
            <div class="d-flex flex-column flex-fill">

                @using (Html.BeginForm("Order", "ShoppingCart", null, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.emailAddress, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.emailAddress, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.emailAddress, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.telephoneNumber, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.telephoneNumber, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.telephoneNumber, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Locality_idLocality, "Locality_idLocality", htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.DropDownList("Locality_idLocality", null, htmlAttributes: new { @class = "form-control col-12" })
                            @Html.ValidationMessageFor(model => model.Locality_idLocality, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.addressOfResidence, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.addressOfResidence, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.addressOfResidence, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.zipCode, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.zipCode, new { htmlAttributes = new { @class = "form-control col-12" } })
                            @Html.ValidationMessageFor(model => model.zipCode, "", new { @class = "text-danger col-12" })
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Kontynuuj bez rejestracji">
                }
            </div>
        }
    </article>
</section>
