@model bikevision.Models.Item

@{ 
    string classes = "shopping-card__cart-button btn btn-info";

    if (Model.availability <= 0)
    {
        classes += " disabled";
    }
}

<div class="shopping-card__main-content">
    @if (Model.discount != 0)
    {
        <a href="@Url.Action("Product", "Shop", new { id = Model.idItem })" class="shopping-card__banner badge-pill badge-info px-2 py-1">
            Promocja
        </a>
    }

    <a href="@Url.Action("Product", "Shop", new { id = Model.idItem })" class="wrapRow"><img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" /></a>
    <h1 class="shopping-card__subtitle mb-0 wrapColumn wrapRow"> @Html.DisplayFor(modelItem => Model.Category.category1) </h1>
    <a href="@Url.Action("Product", "Shop", new { id = Model.idItem })" class="wrapColumn wrapRow"><h3 class="shopping-card__title mb-0">@Html.DisplayFor(modelItem => Model.name)</h3></a>
    <hr class="shopping-card__underline wrapColumn wrapRow" />
    <div class="shopping-card__footer wrapColumn wrapRow">
        <h3 class="shopping-card__price">@String.Format("{0:F2} zł", Model.price - ((Model.price * Model.discount) / 100))</h3>

        @if (Model.discount != 0)
        {
            <h5 class="shopping-card__discount">@String.Format("{0:F2} zł", Model.price)</h5>
        }
    </div>
</div>
<div class="d-none d-lg-block shopping-card__hidden-content">
    @*<button class="shopping-card__cart-button btn btn-info p-0"><span class="fas fa-shopping-cart small-icon"></span><span class="small-icon"> Do koszyka </span></button>*@
    @Html.Raw(Html.ActionLink("ToReplace", "OrderNow", "ShoppingCart", new { id = Model.idItem, area = "" }, new { @class = classes }).ToHtmlString().Replace("ToReplace", "<span class=\"fas fa-shopping-cart small-icon\"></span><span class=\"small-icon\"> Do koszyka </span>"))
    <div class="shopping-card__additional-buttons">
        <button class="shopping-card__additional-button btn btn-outline-primary p-0 align-text-bottom"><span class="fas fa-heart text-size-very-small"></span><span class="text-size-very-small"> Ulubiony</span></button>
        <button class="shopping-card__additional-button btn btn-outline-primary p-0 align-text-bottom"><span class="fas fa-retweet text-size-very-small"></span><span class="text-size-very-small"> Porównaj</span></button>
    </div>
</div>
