@model List<bikevision.Models.Item>

@{
    ViewBag.Title = "Lista produktów";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

    int category = 0;
    int brand = 0;
    int feature = 0;

    List<string> avaliabilities = new List<string>();

    if (Model.Count() > 0)
    {
        foreach (var product in Model)
        {
            if (!avaliabilities.Contains(product.availability.ToString()))
            {
                avaliabilities.Add(product.availability.ToString());
            }
        }
    }

    if (ViewBag.categoryId != null)
    {
        category = (int)ViewBag.categoryId;
    }

    List<string> avas = new List<string>();
    List<string> avasSelected = new List<string>();

    if (Session["productAvailabilities"] != null)
    {
        avas = (List<string>)(Session["productAvailabilities"]);
    }
    else
    {
        Session["productAvailabilities"] = avaliabilities;
        avas = avaliabilities;
    }

    if (ViewBag.brandId != null)
    {
        brand = (int)ViewBag.brandId;
    }

    if (ViewBag.avasSelected != null)
    {
        avasSelected = ViewBag.avasSelected;
    }

    if (ViewBag.featureId != null)
    {
        feature = (int)ViewBag.featureId;
    }

    string searching = ViewBag.keyword;
    string sortOrder = (ViewBag.sortOrder == null) ? "" : ViewBag.sortOrder;
}

<div class="container-fluid bg-semi-light m-0 p-0">
    <div class="container container--big py-3 d-flex flex-column">
        <!-- content <-- own BEM class -->
        <div class="d-flex flex-row justify-content-between">
            <p class="align-self-baseline h4">
                @if (ViewBag.keyword == "" || ViewBag.keyword == null)
                {
                    <span>Aktualna kategoria</span>
                }
                else
                {
                    <span>Produkty zawierające frazę &ldquo;@ViewBag.keyword&rdquo;</span>
                }
            </p>
            <p class="ml-2 h5 align-self-baseline">@if (Model != null)
            {@String.Format("Liczba produktów: {0}", Model.Count());
        }</p>
        </div>

        <div class="d-flex flex-row my-1 overlay">
            <div class=" d-lg-flex flex-column left-column bg-semi-light">
                @using (Html.BeginForm("ProductList", "Shop"))
                {
                    <div class="card">
                        @*<article class="card-group-item">
                                <header class="card-header"><h6 class="title">Similar category </h6></header>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
                                        <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
                                        <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
                                        <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
                                    </div>  <!-- list-group .// -->
                                </div>
                            </article> <!-- card-group-item.// -->*@

                        @*<article class="card-group-item">
                                <header class="card-header">
                                    <h6 class="title">Choose type </h6>
                                </header>
                                <div class="filter-content">
                                    <div class="card-body">
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                            <span class="form-check-label">
                                                First hand items
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                            <span class="form-check-label">
                                                Brand new items
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                            <span class="form-check-label">
                                                Some other option
                                            </span>
                                        </label>
                                    </div> <!-- card-body.// -->
                                </div>
                            </article> <!-- card-group-item.// -->*@

                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Marka </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <form>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label">
                                                Mersedes Benz
                                            </span>
                                        </label> <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label">
                                                Nissan Altima
                                            </span>
                                        </label>  <!-- form-check.// -->
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            <span class="form-check-label">
                                                Another Brand
                                            </span>
                                        </label>  <!-- form-check.// -->
                                    </form>

                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- card-group-item.// -->
                        <article class="card-group-item">
                            <header class="card-header"><h6 class="title">Color check</h6></header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <label class="btn btn-danger">
                                        <input class="" type="checkbox" name="myradio" value="">
                                        <span class="form-check-label">Red</span>
                                    </label>
                                    <label class="btn btn-success">
                                        <input class="" type="checkbox" name="myradio" value="">
                                        <span class="form-check-label">Green</span>
                                    </label>
                                    <label class="btn btn-primary">
                                        <input class="" type="checkbox" name="myradio" value="">
                                        <span class="form-check-label">Blue</span>
                                    </label>
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- card-group-item.// -->

                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Zakres cenowy:</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label>Od</label>
                                            <input type="number" name="priceFrom" @if (ViewBag.priceFrom != null) { @String.Format("value={0}", ViewBag.priceFrom) ; } class="form-control" id="inputEmail4" placeholder="0 zł">
                                        </div>
                                        <div class="form-group col-lg-6 text-right">
                                            <label>Do</label>
                                            <input type="number" name="priceTo" @if (ViewBag.priceTo != null) { @String.Format("value={0}", ViewBag.priceTo) ; } class="form-control" placeholder="10000 zł">
                                        </div>
                                    </div>
                                </div> <!-- card-body.// -->
                            </div>
                            <input type="submit" onclick="form.submit();" value="Filtruj" class="btn btn-sm btn-primary" />
                        </article> <!-- card-group-item.// -->

                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Dostępność:</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                        @foreach (var ava in avas)
                                        {
                                    <div class="custom-control custom-checkbox">
                                        @*<span class="float-right badge badge-light round">52</span>*@
                                        @if (avasSelected.Contains(ava))
                                        {
                                            @Html.CheckBox("availability", new { @onchange = "form.submit();", @value = ava, @id = "availability" + ava, @class = "custom-control-input", @checked ="" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox("availability", new { @onchange = "form.submit();", @value = ava, @id = "availability" + ava, @class = "custom-control-input" })

                                        }
                                        @*<input type="checkbox" onchange="form.submit();" name="availability" class="custom-control-input" id="Check@(String.Format("{0}", ava))">*@
                                        <label class="custom-control-label" for="availability@(String.Format("{0}", ava))">@ava</label>
                                    </div> <!-- form-check.// -->
                                        }
                                    
                                    @*<div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">132</span>
                                        <input type="checkbox" class="custom-control-input" id="Check2">
                                        <label class="custom-control-label" for="Check2">Black berry</label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">17</span>
                                        <input type="checkbox" class="custom-control-input" id="Check3">
                                        <label class="custom-control-label" for="Check3">Samsung</label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">7</span>
                                        <input type="checkbox" class="custom-control-input" id="Check4">
                                        <label class="custom-control-label" for="Check4">Other Brand</label>
                                    </div>*@ <!-- form-check.// -->
                                </div> <!-- card-body.// -->
                            </div>
                        </article>
                    </div>


                }
            </div>

            <div class="d-flex flex-column right-column">
                <div class="d-flex flex-row justify-content-between flex-wrap">
                    <div class="btn-group ml-1" role="group">
                        <button type="button" id="gridButton" class="btn btn-sm btn-primary active text-size-very-small"><i class="fas fa-th-large mr-2"></i>Siatka</button>
                        <button type="button" id="listButton" class="btn btn-sm btn-primary text-size-very-small"><i class="fas fa-list mr-2"></i>Lista</button>
                    </div>
                    <div class="p-1">
                        @using (Html.BeginForm("ProductList", "Shop", FormMethod.Post))
                        {

                            @Html.Hidden("category", category);
                            @Html.Hidden("brand", brand);
                            @Html.Hidden("feature", feature);
                            @Html.Hidden("searching", searching);

                            <label for="sortingItems"> Sortuj: </label>
                            <select id="sortingItems" name="sortingItems" onchange="form.submit();">
                                @if (sortOrder == "")
                                {
                                    <option value="" @if (sortOrder == "") { @String.Format("selected") ; }> Wybierz opcję sortowania.. </option>
                                }
                                <option value="price-asc" @if (sortOrder.Contains("price-asc")) { @String.Format("selected") ; }> Cena: rosnąco </option>
                                <option value="price-desc" @if (sortOrder.Contains("price-desc")) { @String.Format("selected") ; }> Cena: malejąco </option>
                                <option value="alpha-asc" @if (sortOrder.Contains("alpha-asc")) { @String.Format("selected") ; }> Alfabetycznie: A-Z </option>
                                <option value="alpha-desc" @if (sortOrder.Contains("alpha-desc")) { @String.Format("selected") ; }> Alfabetycznie: Z-A </option>
                            </select>
                        }
                    </div>
                </div>

                <div class="d-flex flex-row flex-wrap">
                    @if (Model.Count() > 0)
                    {
                        foreach (var product in Model)
                        {
                            @Html.Partial("_ProductCard", product)
                        }
                    }
                    else
                    {
                        <p class="h3 p-2"> Brak produktów spełniających podane wymagania </p>
                    }
                </div>

                <nav class="d-block flex-row mt-2 mx-auto">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <button class="d-block d-lg-none floating-button align-text-bottom" onclick="showFilters()"> <i class="fas fa-filter"></i> Filtruj </button>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Shop/hidden-filters.js")
    @Scripts.Render("~/Scripts/Shop/list-grid-view.js")
}