@model bikevision.Models.ProductDetailsViewModel
@{
    ViewBag.Title = Model.product.name;
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<nav class="container" aria-label="breadcrumb">
    <ol class="breadcrumb px-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
    </ol>
</nav>

<div class="container-fluid p-0 m-0">
    <div class="d-flex flex-column container">
        <h2> @Model.product.name </h2>
        <div class="d-flex flex-lg-row flex-column">
            <div class="d-flex flex-column product-left-column">
                <img src="~/Content/Images/Shop/siodelko_1.jpg" class="product__main-image" alt="mainimg" />

                <div class="d-md-flex flex-md-row d-none flex-wrap">
                    <img src="~/Content/Images/Shop/siodelko_1.jpg" class="product__sub-image product__sub-image--active" alt="subimg" />
                    <img src="~/Content/Images/Shop/siodelko_2.jpg" class="product__sub-image" alt="subimg" />
                </div>
            </div>
            <div class="d-flex flex-column fill-even product-right-column">
                @if (Model.product.discount > 0)
                {
                    <div class="d-flex flex-row">
                        <div class="product__badge-discount bg-dark text-white align-self-center"> @String.Format("-{0}%", Model.product.discount) </div>
                        <div class="text-muted product__old-price align-self-center"> @String.Format("{0:F2} zł", Model.product.price) </div>
                    </div>
                }
                <span class="text-size-big text-primary product__actual-price">
                    @String.Format("{0:F2} zł", ((Model.product.price) - ((Model.product.price * Model.product.discount) / 100)))
                </span>
                <div class="d-flex flex-row mb-2">
                    <div class="d-flex flex-column mr-1">
                        <span class="product__option"> Kolor: </span>
                        <span class="product__option-text"> czarno-czer </span>
                    </div>

                    <div class="d-flex flex-row mr-3 flex-wrap">
                        <div class="product__option-choice-color" style=""></div>
                        <div class="product__option-choice-color" style="background: linear-gradient(to right, #ff0000 0% 50%, #feee22 50% 100%)"></div>
                        <div class="product__option-choice-color" style="background: linear-gradient(to right, #0000FF 0% 50%, #00FF00 50% 100%)"></div>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="d-flex flex-column mr-3">
                        <span class="product__option">@*@Model.FeatureValueOfItems.ElementAt(0).Feature.feature1*@:</span>
                    </div>
                    @*<div class="d-flex flex-column mr-3">
                    <span class="product__option"> Rozmiar: </span>
                </div>

                <div class="d-flex flex-row mr-1 flex-wrap">
                    <div class="product__option-choice-size product__option-choice-size--active">28.5cm</div>
                    <div class="product__option-choice-size">30cm</div>
                    <div class="product__option-choice-size">33cm</div>
                    <div class="product__option-choice-size">35cm</div>
                    <div class="product__option-choice-size">38cm</div>
                    <div class="product__option-choice-size">40cm</div>
                    <div class="product__option-choice-size">42cm</div>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex flex-column mr-3">
                    <span class="product__option"> Długość: </span>
                </div>

                <div class="d-flex flex-row mr-1 flex-wrap">
                    <div class="product__option-choice-size product__option-choice-size--active">73.5cm</div>
                    <div class="product__option-choice-size">80cm</div>
                    <div class="product__option-choice-size">85cm</div>
                    <div class="product__option-choice-size">90cm</div>
                    <div class="product__option-choice-size">100cm</div>
                    <div class="product__option-choice-size">110cm</div>
                    <div class="product__option-choice-size">120cm</div>
                </div>*@
                </div>

                <hr class="w-100 text-primary" />

                <div class="d-flex flex-column flex-md-row flex-lg-column justify-content-between">
                    @if (Model.product.availability > 0)
                    {
                        <div class="d-flex fill-even justify-content-between mb-3">
                            <span class="product__option">Dostępność: </span>
                            @if (Model.product.availability == 1)
                            {
                                <span class="product__option product__option--orange-text">W magazynie (@Model.product.availability sztuka)</span>
                            }
                            @if (Model.product.availability > 1)
                            {
                                <span class="product__option product__option--green-text">W magazynie (@Model.product.availability sztuk)</span>
                            }
                        </div>
                        <div class="d-flex fill-even justify-content-between justify-content-md-end justify-content-lg-between mb-3">
                            <span class="product__option">Ilość: </span>
                            <form action="" class="">
                                <select id="itemQuantity" class="">
                                    @for (int i = 1; i <= Model.product.availability; i++)
                                    {
                                        <option>@i szt.</option>
                                    }
                                </select>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex fill-even justify-content-end mb-3">
                            <p class="product__option product__option--red-text">Produkt niedostępny</p>
                        </div>
                    }
                </div>

                <div class="d-flex flex-column flex-md-row flex-lg-column justify-content-between">
                    <div class="d-flex flex-row fill-even mb-3">
                        <span class="product__option">Opcje: </span>
                        <ul class="product__option-summary">
                            <li>Kolor: czerwony</li>
                            <li>Rozmiar: 42</li>
                            <li>Długość: 110cm</li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row fill-even mb-3 justify-content-between align-self-auto align-self-md-end align-self-lg-auto">
                        <p class="product__option">Cena: <span class="product__final-price">600,00zł</span></p>
                        <form class="">
                            <label for="compare"><input id="compare" value="true" type="checkbox" /> Porównaj</label>
                        </form>
                    </div>
                </div>
                <button class="btn btn-primary" @if (Model.product.availability <= 0) { @Html.Raw("disabled") }> Do koszyka </button>
            </div>
        </div>
    </div>


    <div class="container-fluid d-none d-lg-block py-3 mt-3 bg-semi-light">
        <div class="container">
            <ul class="nav product__menu" id="productDetails" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Opis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="specification-tab" data-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="false">Specyfikacja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="opinions-tab" data-toggle="tab" href="#opinions" role="tab" aria-controls="opinions" aria-selected="false">Opinie</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mb-3">
        <div class="tab-content" id="productDetailsContent">
            <div class="product__menu-card" data-id="details"> Opis <i class="fas fa-chevron-down rotate"></i></div>
            <div class="tab-pane fade py-2" id="details" role="tabpanel" aria-labelledby="details-tab">
                @Model.product.description
            </div>
            <div class="product__menu-card" data-id="specification"> Specyfikacja <i class="fas fa-chevron-down rotate"></i></div>
            <div class="tab-pane fade py-2" id="specification" role="tabpanel" aria-labelledby="specification-tab"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim praesent elementum facilisis leo. Id aliquet lectus proin nibh nisl. Suspendisse ultrices gravida dictum fusce ut placerat orci. Morbi leo urna molestie at elementum eu facilisis. Lacus luctus accumsan tortor posuere ac. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Elit eget gravida cum sociis natoque. Fringilla phasellus faucibus scelerisque eleifend donec. Sit amet luctus venenatis lectus magna fringilla. Sit amet commodo nulla facilisi nullam vehicula. In hendrerit gravida rutrum quisque non tellus orci ac. Egestas egestas fringilla phasellus faucibus.  Cursus turpis massa tincidunt dui ut ornare. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Feugiat nisl pretium fusce id velit ut. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Bibendum est ultricies integer quis auctor elit sed vulputate. Porttitor leo a diam sollicitudin. Ut enim blandit volutpat maecenas volutpat. Leo a diam sollicitudin tempor id eu. Donec enim diam vulputate ut pharetra. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Id eu nisl nunc mi. Quis enim lobortis scelerisque fermentum. Auctor urna nunc id cursus metus. A scelerisque purus semper eget. Rutrum quisque non tellus orci ac auctor augue mauris augue. Et malesuada fames ac turpis. Justo eget magna fermentum iaculis eu non. Arcu cursus euismod quis viverra nibh cras pulvinar mattis. </div>
            <div class="product__menu-card" data-id="opinions"> Opinie <i class="fas fa-chevron-down rotate"></i></div>
            <div class="tab-pane fade py-2" id="opinions" role="tabpanel" aria-labelledby="opinions-tab">
                @if (Model.opinions.Count() > 0)
                {
                    foreach (var opinion in Model.opinions)
                    {
                        <div class="col py-2 my-2 border border-dark text-dark">
                            <div class="row p-0 m-0">
                                <div class="col-1 font-weight-bold text-right">Ocena:</div>
                                <div class="col-1">@opinion.points/5</div>
                                <div class="col-1 font-weight-bold text-right">Autor:</div>
                                <div class="col-1">@opinion.Customer.name</div>
                                <div class="col-1 font-weight-bold text-right">Data:</div>
                                <div class="col-3">@opinion.date</div>
                            </div>

                            <hr />

                            <div class="row p-0 m-0">
                                <div class="col-12 font-weight-bold">
                                    Treść:
                                </div>
                                <div class="col-12">
                                    @opinion.opinion1
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p> Jeszcze nie ma opinii </p>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Shop/product-accortion-tabs.js")
}