@model bikevision.Models.Przedmiot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwaPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwaPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opisPrzedmiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opisPrzedmiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wymiary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wymiary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoria.kategoria1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoria.kategoria1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypPrzedmiotu.typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypPrzedmiotu.typ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
