@model bikevision.Models.Object

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Object</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.objectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.objectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.objectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dimensions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dimensions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectType.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectType.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idObject }) |
    @Html.ActionLink("Back to List", "Index")
</p>
