@model bikevision.Models.Service

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfCompletion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfCompletion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceState.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceState.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceType.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceType.type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
