@model bikevision.Models.Serwis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Serwis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataZlecenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataZlecenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataWykonania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataWykonania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klient.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klient.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pracownik.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pracownik.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypSerwisu.typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypSerwisu.typ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSerwis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
