@model bikevision.Models.Klient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerTelefonu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresZamieszkania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresZamieszkania)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodPocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kodPocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc.miejscowosc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miejscowosc.miejscowosc1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idKlient }) |
    @Html.ActionLink("Back to List", "Index")
</p>
